/* (A) SHARED */
#ctime *, #tpick * {
    font-family: Monaco, monospace;
    box-sizing: border-box;
    text-align: center;
  }
  #ctime, #tpick, .square { padding: 10px; }
  #ctime, #tpick {
    margin: 0 auto;
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
  }
  .header {
    font-weight: normal;
    color: #d36d82;
    width: 100%;
    margin: 10px 0;
  }
  .square, #tpick-h, #tpick-m, #tpick-s { width: 33%; }
  .text, #tset, #treset { margin-top:10px; }
  .digits, .square select {
    font-size: 24px;
    background: #fff;
    color: #d36d82;
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
  }
   
  /* (B) CURRENT TIME */
  #ctime { background: #ecc0c9; }
  #ctime .header { color: #d36d82; }
  #ctime .text { color: #d36d82; }
   
  /* (C) TIME PICKER */
  #tpick { background: #ecc0c9; }
  #tset, #treset {
    width: 50%;
    background: #e097a6;
    color: #fff;
    border: 0;
    padding: 15px 0;
    cursor: pointer;
    font-size: 18px;
  }
  #tset:disabled, #treset:disabled {
    background: #ead3d7;
    color: #d98a9a;
  }